.sticky-wrapper {
    position: relative;
    height: 75px; /* We need to change this value */
    
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 2001;
    background-color:rgba(186, 186, 186, 0.9);
    //opacity: .9;
    border-radius: 26px;
    
    
  }