.sticky-wrapper {
    position: relative;
    height: 75px; /* We need to change this value */
    
  }
  
  .sticky .sticky-inner {
    position: fixed;
    top: 45px;
    left: 0;
    right: 0;
    z-index: 2001;
    background-color:#bababa;
    opacity: .8;
    border-radius: 26px;
    
    
  }